@import "variables";

.header {
  font-size: 1em;

  .brand {
    font-family: "Montserrat", "sans-serif";
    font-size: 2em;
    color: $common-green;
    font-weight: bold;
  }

  .register-btn {
    font-size: 1.2em;
    padding: 0 0.8em;
  }

  .login-btn {
    background-color: transparent;
    border-color: transparent;
    color: $common-green;
    font-size: 1.2em;
  }

  .feather-shopping-cart {
    font-size: 2em;
    color: $grey;
    cursor: pointer;

    .badge {
      top: -.5em;
      left: -.5em;
      position: relative;
      font-size: 50%;
      line-height: .5em;
      vertical-align: super;
      color: white;
      border: .15em solid $grey;
      border-radius: 2em;
      padding-bottom: .4em;
      background-color: $common-green;
    }
  }

  .checkout-btn {
    font-size: 1.4em;
    padding: 0 0.8em;
    border-radius: .3em;
  }

}

@media only screen and (max-width: $large) {
  .header {
    font-size: .8em;

    .checkout-btn {
      font-size: 1.2em;
    }
  }
}

//@media only screen and (max-width: $extra-large) {
//  .header {
//    font-size: .8em;
//
//    .checkout-btn {
//      font-size: 1.2em;
//    }
//  }
//}