@import "variables";


.header {
  font-size: 1em;

  .register-btn, .login-btn {
    font-size: 1.1em;
    font-weight: 100;
    line-height: 1em;
  }
  
  .tt {
    line-height: 1em;
  }

  .login-btn {
    background-color: transparent;
    border-color: transparent;
    color: $common-green;
  }

  .header-menu {
    font-size: .9em;
    font-weight: 100;
    line-height: 1em;
  }

  .feather-phone-call {
    font-size: 1.1em;
  }

  .feather-truck {
    font-size: 1.3em;
    color: $header-icons;
  }

  .feather-user {
    font-size: 1.1em;
    color: $header-icons;
  }

  .brand {
    font-family: "Montserrat", "sans-serif";
    font-size: 1.8em;
    color: $common-green;
    font-weight: 700;
    line-height: .8em;

  }

  .header-main {
    //position: fixed;

  }

  .feather-shopping-cart {
    font-size: 1.8em;
    color: $common-green;
    cursor: pointer;

    .badge {
      top: -.5em;
      left: -.5em;
      position: relative;
      font-size: 45%;
      line-height: .5em;
      vertical-align: super;
      color: white;
      border: .15em solid $grey;
      border-radius: 1em;
      padding-bottom: .4em;
      background-color: $common-green;
    }

  }

  .checkout-btn {
    font-size: 1.1em;
    font-weight: 400;
    border-radius: .2em;
  }

}

@media only screen and (max-width: $medium) {
  .header {
    .checkout-btn {
      display: none;
    }

    .feather-shopping-cart {
      //align-items: baseline;
    }
  }
}

//@media only screen and (max-width: $medium) {
//  .header {
//    font-size: .2em;
//
//    .text { => header-menu
//      display: none;
//    }
//
//    .checkout-btn {
//      font-size: 1.2em;
//    }
//  }
//}
//
//@media only screen and (max-width: $large) {
//  .header {
//    font-size: .8em;
//  }
//}
//
//@media only screen and (min-width: $xxl) {
//  .header {
//    font-size: 1.2em;
//  }
//}
