@import "variables";

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  font-size: 1.2em;
}

.login-text {
  font-family: 'Montserrat', sans-serif;
  color: $common-green;
  font-size: 2.0em;
}

.btn-login-button{
  height: 40px;
  background-color: $common-green;
  color: white;
  border: $common-green;
  &:hover {
    background-color: $common-green;
    color: white;
    border: $common-green;
  };
  &:active{
    background-color: $common-green;
  }
}

.fp-text{
  font-size: 0.8em;
  cursor: pointer;
}

.validation {
  margin-top: .25rem;
  font-size: 80%;
  color: $validation-color;
}