.navigation-bar {
  .brand {
    font-family: "Montserrat", "sans-serif";
    font-size: 2em;
    color: #4caf50;
  }
  .drop-down {
    border-color: slategrey;
    border-style: solid;
    border-width: .1em;
    border-radius: .5em;
  }
}