@import "variables";
.product-area {
  width: 100%;
  .search-bar {
    .AutoComplete{
      width: 100%;
      position: absolute;
      z-index: 2 ;
    }
    .search-form {
      .search-box {
        color: #495057;
        border: 2px solid slategrey;
        border-radius: 2em;

        #basic-addon1 {
          border: none;
          background-color: transparent;
        }
        .form-control {
          border: none;
          //background-color: transparent;

        }
        .form-control:focus {
          box-shadow: none;
        }
      }
      .search-box:hover {
        color: #495057;
        border: 2px solid darkseagreen;
        border-radius: 2em;


        #basic-addon1 {
          border: none;
          background-color: transparent;
        }
        .form-control {
          border: none;
          background-color: transparent;

        }
        .form-control:focus {
          box-shadow: none;
        }
      }

      .feather-search {
      }
    }
  }
  .message-box {
    font-size: .8em;
  }
  .category-container {

    h2 {
      color: #4caf50;
    }
    .category-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .category-item {
        cursor: pointer;
        width: 20%;
        border: 1px solid #acacac;
        border-radius: 1em;

        .category-image {
          width: 60%;
          height: auto;
        }

        p {
          font-weight: bold;
          font-size: .8em;
        }
      }
      .category-item:hover {
        border: 1px solid darkseagreen;
        color: slategrey;
      }
    }
  }
  .product-list {
    width: 100%;
    //margin-left: 5em;
    //margin-right: 5em;

    .product-list-container {

      .single-product {
        width: 16em;

        .product-body {
          border: 1px solid #acacac;
          border-radius: .6em;
          //height: 19em;

          .product-image {
            width: 100%;
            height: 150px;

          }

          h5 {

          }
          .price-tag {

          }

          .add-product-form {
            .product-qty {
              width: 100%;
              border: 1px solid slategrey;
              font-size: 1em;
              border-radius: .3em;
            }

            Button {
              width: 85%;
              font-size: .8em;
              border-radius: 1.5em;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $large) {
  .product-area {
    .category-container {

      h2 {
        color: #4caf50;
      }
      .category-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .category-item {

          width: 20%;
          border: 1px solid slategrey;
          border-radius: 1em;

          .category-image {
            width: 100%;
            height: auto;
          }

          p {
            font-size: .5em;
            font-weight: bold;
          }
        }
        .category-item:hover {
          border: 1px solid darkseagreen;
          color: slategrey;
        }
      }
    }
    .product-list {
      width: 100%;
      //margin-left: 5em;
      //margin-right: 5em;

      .product-list-container {

        .single-product {
          width: 16em;

          .product-body {
            border: 1px solid slategrey;
            border-radius: .6em;
            //height: 19em;

            .product-image {
              width: 100%;
              height: 100%;

            }
            .title {
              height: 30px;
              h5 {
                font-size: 1em;
              }
            }
            .price-tag {
              font-size: .75em;
            }

            .add-product-form {
              .number-input {
                height: 2.2em;
                .product-qty {
                  width: 100%;
                  border: 1px solid slategrey;
                  font-size: .8em;
                  border-radius: .3em;
                }
              }

              Button {
                font-size: .8em;
                border-radius: 1.5em;
                width: fit-content;
              }
            }
          }
        }
      }
    }
  }
}