$common-green: #28a745;
$grey: #708090;
$footer-background-color: #424242;
$white: white;
$footer-grey: #bdbdbd;
$header-icons: black;
$validation-color: #dc3545;


$primary-color: #204093 !default;
$primary-color-opacity-low: rgba(2, 148, 2, 0.089) !default;
$dark-green: #4c8705 !default;
$accent-color: #db0000 !default;
$gray_border: rgba(179, 179, 179, 0.404) !default;
$side_nav_font_color: #fff !default;
$side_nav_bg_color: #09184b !default;
$secondary_color: #fccc1a !default;
$classified_btn : red !default;
$category_title :  linear-gradient(to right, #1b3680, #004f8e, #00638b, #00737e, #11816e);  ;
$postItem-btn: #204093 !default;



$extra_small: 330px;
$medium: 576px;
$md-l : 600px;
$large: 768px;
$extra_large: 992px;
$xxl: 1400px;

//$extra_small: 576px;
//$medium: 768px;
//$large: 992px;
//$extra_large: 1200px;

