$common-green: #4caf50;
$grey: #708090;
$footer-background-color: #424242;
$white: white;
$footer-grey: #bdbdbd;
$header-icons: black;

$extra_small: 330px;
$medium: 576px;
$md-l : 600px;
$large: 768px;
$extra_large: 992px;
$xxl: 1400px;

//$extra_small: 576px;
//$medium: 768px;
//$large: 992px;
//$extra_large: 1200px;

