$common-green: #4caf50;
$footer-background-color: #2a2a2a;
$white: white;
$footer-grey: #a3a0a0;

$extra_small: 330px;
$medium: 576px;
$large: 768px;
$extra_large: 992px;

//$extra_small: 576px;
//$medium: 768px;
//$large: 992px;
//$extra_large: 1200px;

