@import "variables";

.welcome-section {
  max-width: 100%;
  height: fit-content;

  .banner-image {
    position: absolute;
    max-width: 100%;
    height: auto;
  }
  .banner-content {
    width: 100%;
    position: relative;
    top: 12em;
    height: auto;

    h3 {
      font-size: 3.0em;
      font-family:  'Knewave', cursive;
      color: #4A8601;
    }
    span {
      font-size: 1.5em;
      color: black;
    }
   .leave-image {
     width: 20%;
     height: auto;
   }
    .btn-shop {
      font-size: 1.5em;

    }
  }
}

@media only screen and (max-width: $extra_small) {
  .welcome-section {
    max-width: 100%;
    height: auto;

    .banner-image {
      position: absolute;
      max-width: 100%;
      height: auto;
    }
    .banner-content {
      left: -1.5em;
      width: 100%;
      position: relative;
      top: 1em;
      h3 {
        position: absolute;
        top: 2.2em;
        font-size: .8em;
        font-family:  'Knewave', cursive;
        color: #4A8601;
      }
      span {
        visibility: hidden;
        font-size: .6em;
        color: black;
      }
      .btn-shop {
        position: absolute;
        top: 8em;
        font-size: .4em;
        color: black;
        background-color: white;
        border-radius: 15px;
        border: none;
      }
    }
  }
}
/* Extra small devices (phones, 576px and down) */
@media only screen and (min-width: $extra_small) {
  .welcome-section {
    max-width: 100%;
    height: auto;

    .banner-image {
      position: absolute;
      max-width: 100%;
      height: auto;
    }
    .banner-content {

      width: 100%;
      position: relative;
      top: .5em;

      h3 {
        font-size: .9em;
        font-family:  'Knewave', cursive;
        color: #4A8601;
      }
      span {
        font-size: .6em;
        color: black;
      }
      .btn-shop {
        font-size: .6em;
        color: black;
        background-color: white;
        border-radius: 15px;
        border: none;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $medium) {
  .welcome-section {
    max-width: 100%;
    height: auto;

    .banner-image {
      position: absolute;
      max-width: 100%;
      height: auto;
    }
    .banner-content {

      width: 100%;
      position: relative;
      top: 3em;

      h3 {
        font-size: .8em;
        font-family:  'Knewave', cursive;
        color: #4A8601;
      }
      span {
        font-size: .9em;
        color: black;
      }
      .btn-shop {
        font-size: .8em;
        color: black;
        background-color: white;
        border-radius: 15px;
        border: none;
      }

    }
  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $large) {
  .welcome-section {
    max-width: 100%;
    height: auto;

    .banner-image {
      position: absolute;
      max-width: 100%;
      height: auto;
    }
    .banner-content {

      width: 100%;
      position: relative;
      top: 4em;

      h3 {
        font-size: 2em;
        font-family:  'Knewave', cursive;
        color: #4A8601;
      }
      span {
        font-size: 1em;
        color: black;
      }
      .btn-shop {
        font-size: 1em;
        color: black;
        background-color: white;
        border-radius: 15px;
        border: none;
      }
    }
  }
}

@media only screen and (min-width: $extra_large) {
  .welcome-section {
    max-width: 100%;
    height: auto;

    .banner-image {
      position: absolute;
      max-width: 100%;
      height: auto;
    }
    .banner-content {

      width: 100%;
      position: relative;
      top: 8em;

      h3 {
        font-size: 2.1em;
        font-family:  'Knewave', cursive;
        color: #4A8601;
      }
      span {
        font-size: 1.2em;
        color: black;
      }
      .btn-shop {
        font-size: 1.2em;
        color: black;
        background-color: white;
        border-radius: 15px;
        border: none;
      }
    }
  }
}





