.welcome-section {
  position: relative;
  .banner-image {
    width: 100%;
  }
  .banner-content {
    width: 100%;
    position: absolute;
    bottom: 250px;

    h3 {
      font-family:  'Knewave', cursive;
      color: #4A8601;
    }
   .leave-image {
     width: 4.8em;
     height: 4.5em;
   }
  }
}